body
{
    font-family: "Open Sans";
    letter-spacing: -0.03em;
}

::selection {
  background: red; /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: red; /* Gecko Browsers */
  color: white;
}

.shadow-top {
  height: 90px;
  position: absolute;
  /*background-image: radial-gradient(farthest-side at 50% 0%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);*/
  background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 100%);
  display: none;
}

.shadow-bottom {
  height: 90px;
  position: absolute;
  /*background-image: radial-gradient(farthest-side at 50% 100%, rgba(240, 240, 240, 0.9) 30%, rgba(240, 240, 240, 0) 100%);*/
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 1) 100%);
  display: none;
}

#content{
    overflow: auto;
    margin-top: 50px;
    height: 500px;
    margin-bottom: 50px;
}

#center
{
    width: 1200px;
    /*border: 1px solid black;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

nav{
    font-size: 2em;
    color: #737373;
}

nav a:link,
nav a:visited,
nav a:active
{
    text-decoration: none;
    color: #737373;
    transition: all 0.3s ease-in-out;
}

/*nav a:hover
{
	color: black;
}*/

.underline{
    background-color: rgb(255, 80, 80);
    height: 5px;

    transition: all 0.5s ease-in-out;
}

.ich_underline {
    width: 43px;
    margin-left: 0px;
}

.skills_underline {
    width: 166px;
    margin-left: 83px;
}

.projekte_underline {
    width: 120px;
    margin-left: 288px;
}

.kontakt_underline {
    width: 113px;
    margin-left: 448px;
}

.bigFont{
    font-size: 1.2em;
	line-height: 29px;
	color: #737373;
}

.smallFont{
    font-size: 1em;
    color: #737373;
	text-decoration: none;
}

.bigFont a:link,
.bigFont a:active,
.bigFont a:visited,
.smallFont a:link,
.smallFont a:visited,
.smallFont a:active
{
	transition: all 0.2s ease;
    color: red;
}

.bigFont a:hover,
.smallFont a:hover
{
	color: white;
	background-color: red;
    text-decoration: none;
}

h1{
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}

.skills_box{
    border-radius: 2px;
    //border: solid 1px #C3C3C3;
    padding: 8px;
    width: 80%;
    height: 120px;
    color: #737373;
}

.skills_td
{
    width: 25%;
    vertical-align: top;
}

.projekte_td
{
    width: 25%;
    height: 25%;
    vertical-align: top;
}

.projekte_box
{
    width: 95%;
    height: 95%;

    padding: 8px;

    border-radius: 2px;
    //border: solid 1px #C3C3C3;
}

.bottom_line
{
	border: none;
	background-color: #dadada;
	height: 2px;
	margin-top:3px;
}

.tutorial_span{
	color: #737373;
	display: inline-table;
	vertical-align: top;
}

.player_img{
	position: relative;
	margin-bottom: -8px;
	width: 50px;
	height: 50px;
}
